<div class="row">
  <div class="col text-center">
    <img
      src="img/img.png"
      alt=""
      class="img-thumbnail rounded-circle"
      width="200px"
    />
    <h1>Syarif</h1>
    <p class="lead">KACUNG | KACUNG</p>
  </div>
</div>
